<div>
    <svg viewBox="0 0 213 75" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: 30vh;">
        <path 
            opacity="0.3" 
            d="M154.7 62.9999C164.255 62.9999 172 56.1035 172 47.5964C172 39.0892 164.255 32.1927 154.7 32.1927C145.146 32.1927 137.4 39.0892 137.4 47.5964C137.4 56.1035 145.146 62.9999 154.7 62.9999Z" 
            fill="#B91C1C">
        </path>
        <path 
            d="M147.595 28L136.077 40.444L153.124 58.358L164.49 46.461L147.595 28Z" 
            fill="#B91C1C">
        </path>
        <path 
            opacity="0.1" d="M147.595 28L136.077 40.444L153.124 58.358L164.49 46.461L147.595 28Z" 
            fill="black">
        </path>
        <path 
            d="M136.538 40.5809C136.792 40.1725 137.108 39.7969 137.477 39.4644L148.056 29.9145C148.056 29.9145 151.742 29.3676 152.51 31.0085L138.995 40.8544L136.538 40.5809Z"
            fill="#F2F2F2">
        </path>
        <path 
            d="M136 40.3758L151.665 61.7084C151.665 61.7084 153.201 62.6656 154.737 62.1187L170.787 52.478L153.739 29.5043L138.381 40.1706L136 40.3758Z" 
            fill="#B91C1C">
        </path>
        <path 
            d="M151.824 32.8333L141.993 39.1227L142.139 39.3027L151.969 33.0132L151.824 32.8333Z" 
            fill="#3F3D56">
        </path>
        <path 
            d="M141.863 41.4769L141.656 41.5992L154.557 58.9662L154.764 58.8439L141.863 41.4769Z" 
            fill="#3F3D56">
        </path>
        <path 
            d="M166.565 52.5239L156.124 59.3641L156.271 59.5427L166.712 52.7025L166.565 52.5239Z"
            fill="#3F3D56">
        </path>
        <path 
            d="M153.687 33.1332L153.483 33.2597L166.845 50.3532L167.049 50.2266L153.687 33.1332Z" 
            fill="#3F3D56">
        </path>
        <path 
            d="M149.56 29.7789L137.407 39.71L137.511 39.8107L149.664 29.8796L149.56 29.7789Z"
            fill="#3F3D56">
        </path>
        <path 
            d="M150.573 29.864L137.871 39.8479L137.973 39.9505L150.674 29.9666L150.573 29.864Z" 
            fill="#3F3D56">
        </path>
        <path 
            d="M151.367 30.063L138.182 39.8488L138.28 39.9539L151.465 30.1681L151.367 30.063Z"
            fill="#3F3D56">
        </path>

        <text 
            x="52%" 
            y="81%" 
            text-anchor="middle" 
            fill="white" 
            style="font-size: 3.5em;text-anchor: middle;letter-spacing: 1px;font-weight: 700;">
            Rud&nbsp;&nbsp;c
        </text>

    </svg>
</div>